.sheep_pen_cont {
    /*overflow: scroll; !* Добавляем полосы прокрутки *!*/
    width: 500px; /* Ширина блока */
    height: 250px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
    /*border: solid 1px black; !* Параметры рамки *!*/
    float: left;
    margin: 10px;
}

.sheep_pen {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 490px; /* Ширина блока */
    height: 200px; /* Высота блока */
    /*padding: 5px; !* Поля вокруг текста *!*/
    border: solid 1px gray; /* Параметры рамки */
    float: left;

}

.container {
    width: 1080px;
    margin-left: 150px;
    display: inline-block;
    border: 1px solid gray;
}

.title_sheep_pen {
    display: block;
    /*border: 1px solid red;*/
}

.sheep_name {
    margin: 0;

}

.message {

    height: 30px;
    text-align: center;
    margin-left: 70px;
    margin-right: 100px;

}

.day{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    float: right;

}